.exp-container {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
    color: purple;
    text-align: center;
}

.user-details {
    margin: 2rem;
    width: 50rem;
    margin: 4rem 20%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
.users img {
    border-radius: 50%;
    box-shadow: 0px 2px 10px 4px #efcaf8;
}

.name {
    color: #ddd;
    padding: 1rem;
    font-family: monospace;
    font-weight: 500;
    font-size: 1.2em;
}