* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #ddd;
  color: red;
  border: 1px solid pink;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  width: 20vw;
  margin: 10px 40%;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-top: 1px solid #129cf3;
  border-bottom: 2px solid red;
  padding: 4px; 
  width: 60%;
  margin: 2rem 20%;
}